# version: "4.0.0"

services:
    b7web_store:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: b7web_store
      ports:
          - "0.0.0.0:3000:80"
      volumes:
          - .:/app:delegated
      environment:
          - DB_CONNECTION=mysql
          - DB_HOST=b7web_store_db
          - DB_PORT=3306
          - DB_DATABASE=b7web_store
          - DB_USERNAME=admin
          - DB_PASSWORD=A9x*UwARA5@
      depends_on:
        b7web_store_db:
          condition: service_healthy

    b7web_store_db:
      image: mysql:latest
      container_name: b7web_store_db
      ports:
          - "3305:3306" # Host:Container
      environment:
          - MYSQL_DATABASE=b7web_store
          - MYSQL_USER=admin
          - MYSQL_PASSWORD=A9x*UwARA5@
          - MYSQL_ROOT_PASSWORD=a
      volumes:
          - db-data:/var/lib/mysql
      healthcheck:
        test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 30s

volumes:
    db-data:
